* {
    color: black;
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    max-height: 2rem;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
}

.div3 {
    grid-row-start: 2;
    margin-left: 1.5rem;
}

.div4 {
    grid-row-start: 2;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    border: solid 1px black
}
     
.div5 div input {
    display: none;
}

.radio-group label {
    cursor: pointer;
    font-weight: normal;
    margin-right: 15px;
  }
  
.radio-group input[type="radio"]:checked + label {
    font-weight: bold;
}

#ocultarSaldo {
    background-color: white;
    border: none;
    font-size: 20px;
}

.saldoContainer {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.saldoContainer p {
    margin: auto 0;
    font-size: 25px;
}

.userInfoContainer {
    margin: 1.5rem 0;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 20px;
}

.box {
    border: solid 1px black;

}

.box ul {
    overflow: auto;
    max-height: 400px;
    list-style: none;
    margin: 0 1rem;
    padding: 0;
}

.criar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 1rem;
    align-items: center;
}

.criar p {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    font-weight: bold;
    font-size: large;
}

.criar button {
    background-color: greenyellow;
    border: 1px solid black;
    border-radius: 100px;
    margin-top: 0.1rem;
}
